body
{
	margin:0;
	overflow: hidden;
  background:white; 
}

 #demo2_viewport {
    overflow:hidden;
    width:100%;
    height:100%;
    color:#fff;
    background-color:#fff;
  }
  #demo2_wall {
  }
    #demo2_wall ._tile {
      font-size:18px;
      font-weight:bold;
      background-color:#000;
      transition: opacity 0.8s ease;
      

    }
      #demo2_wall ._tile:hover {
        opacity:0.8;
        border: 5px solid white;
        height:290px !important;
        width: 290px !important;
    }
      

 #panel{
 	background:#F57C00;
 	position: absolute;
 	visibility: hidden;
 	
 	
 }
 #panel.visible{
 	visibility: visible;
 	top: 0 !important;
 	left: 0 !important;
 	height: 100vh !important;
 	width: 100vw !important;
 	transition: all 0.6s ease 0.2s;
 }

 #logo{
 	position: absolute;
 	top:2.5vh;
 	height: 5vh;
 	width: 10vh;
 	background:white;
 	left: 5vw;
 	z-index: 10;
  box-shadow: 0px 0px 10px 0px #03a9f48c;
 }

 #close{
 	position: absolute;
 	height: 5vh;
 	width: 5vh;
 	background:white;
 	top: 2.5vh;
 	right:5vw;
 	visibility: hidden;
 	cursor:pointer;
  z-index: 10;
 }
 #close.show{
 	visibility: visible;
 	transition: all 0.3s ease 0.8s;
 }

 .project
 {
    
    display:none;
    position: absolute;
    height: 300px;
    width: 300px;
 }

 .project.open
 {
    visibility: visible;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    transition: all 0.6s ease 0.2s;
 }




 /*projects*/
 #p1{ background:#CDDC39; }
 #p2{ background:#00BCD4; }
 #p25{ background:#ef5350; }
 #p32{ background:#ffa726; }
 #p4{ background:#ab47bc; }



 /*Project 1*/
 .eye{
  width: 10vw;
  height: 4vw;
  background:white;
  border-radius:50%; 
  position: absolute;
  left: 40vw;
  top: 50vh;
  overflow: hidden;
 }
 .eye#one{
  transform: translate(-50%, -50%);
 }
 .eye#two{
   transform: translate(100%, -50%);
 }

 #ball{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1vw;
  width: 1vw;
  border: 1vw #607D8B solid;
  background: #343434;
  border-radius: 50%; 
  transform:translate(-50%,-50%);
 }
